[init]
	defaultBranch = main
[user]
	name = Tim Gladwell
	email = tim.gladwell@gmail.com
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache
[log]
	showSignature = true

# Machine-specific overrides (signing keys, etc.) go in ~/.gitconfig_local (not tracked).
# Create this file manually on each machine. MacBook example:
#
#   [user]
#       signingkey = /Users/tim/.ssh/id_ed25519_sk.pub
#   [gpg]
#       format = ssh
#   [gpg "ssh"]
#       allowedSignersFile = /Users/tim/.ssh/allowed_signers
#   [commit]
#       gpgsign = true
#   [tag]
#       gpgsign = true
#   [credential "https://github.com"]
#       helper =
#       helper = !gh auth git-credential
#   [credential "https://gist.github.com"]
#       helper =
#       helper = !gh auth git-credential
[include]
	path = ~/.gitconfig_local
